@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roboto", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.025em;
    color: rgb(36, 62, 99);
}

h2 {
    font-size: 24px;
    color: #243e63;
}

h4 {
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
    color: #6415ff;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.purple {
    color: #6415ff;
}

#landing, 
#features,
#quality,
#steps, 
#values,
#pricing, 
#testimonials,
#start {
    padding: 0 32px;
}


.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo__title {
    color: #243e63;
    font-size: 24px;
    font-weight: bold; 
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    height: 50px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    color: #243e63;
    padding-top: 4px;
    margin: 0 24px;
}

.btn {
    width: 130px;
    height: 50px;
    background-color: #6415ff;
    padding: 10px 32px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin: 2px;
    transition: all 300ms ease;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(80, 17, 204);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
    text-wrap: nowrap;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60%);
}

.header {
    font-size: 48px;
    color: #1a202c;
}

.header__description--para {
    color: #243e63;
    margin: 32px 0;
}

.input__container {
    position: relative;  
}

.header__email--input {
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-radius: 50px;
    border: 2px solid rgb(229, 231, 235);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
    z-index: 1;
}

.header__email {
    height: 68px;
    display: flex;
    align-items: center;
}

.header__email--input:hover {
    border-color: rgba(160, 174, 192);
}

.header__email--btn {
    width: 160px;
    position: absolute;
    top: 1px;
    right: 0;
    font-size: 16px;
    margin: 8px;
    z-index: 3;
}

.header__customers--title {
    font-size: 12px;
    color: #A0AEC0;
    margin-top: 80px;
}

.header__customers--img {
    width: 100%;
    margin-top: 16px;
    opacity: 0.5; 
}

.header__img--wrapper {
    width: calc(100% - 40%);
}    

.header__img {
    width: 100%;
    max-width: 768px;
}

/*

FEATURES 

*/

.features__row {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features__description--tag {
    letter-spacing: 1.6px;
    font-weight: 700;
}
    
.features__description--title {
    margin: 16px 0;
}

.features__description--para {
    font-weight: 500;
    color:#7c8ba1;
    max-width: 576px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature__row {
    display: flex;
    align-items: start;
    padding: 32px 24px;
    width: calc(100%/3);
    margin: 0 auto;
}


.feature__img--wrapper {
    border: 1px solid #e5e7eb;
    border-radius: 50px;
    padding: 20px
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__title {
    font-weight: bold;
    font-size: 1.5em;
}

.feature__info {
    display: flex;
    flex-direction: column;

}

.feature__info {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    line-height: 1.6;
    margin-top: 16px;
    color: #7c8ba1;
    font-size: 16px;
}

/*

QUALITY 

*/

.quality__row {
    display: flex;
    justify-content: space-between;
}

.quality__description {
    width: 50%;
    margin-right: 64px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.quality__description--title {
    margin: 16px 0;
    line-height: 1.25;
    width: 90%;
}

.quality__description--para {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.625;
}

.quality__description--btn {
    margin-top: 32px;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: bold;
    width: 145px;
    height: 45px;
}

.quality__description--img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality__img--wrapper {
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    margin: 0 56px;
    max-width: 550px;  
}


img {
    width: 100%;
}

/*

STEPS 

*/

.steps__description--img {
    width: 50%;
}

.steps__description {
    padding: 32px 0 32px 64px;
    width: 50%;
}

.steps__description--title {
    margin: 16px 0;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.steps {
    display: flex;
    margin-top: 32px;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__description--title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__description--para {
    margin-top: 12px;
    font-size: 14px;
    color: #718096;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES 

*/

.values {
    width: 50%;
    padding: 32px 64px 32px 0;
}

.values__description--title {
    margin: 16px 0 32px 0;
    line-height: 1.25;
}

.values__description--para {
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.value__description {
    margin: 32px 32px 0 0;
}

.value__title {
    display: flex;
}

.value {
    display: flex;
    justify-content: space-between;
}

.value__title--img {
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    background-color: lightgreen;
    opacity: 0.7;
}

.value__title {
    align-items: center;
}

.value__name {
    margin-left: 12px;
}

.value__title--btn {
    margin-top: 48px;
    text-wrap: nowrap;
}

.values__description--img {
    width: 50%;
}

.values__img--wrapper {
    width: 100%;
}

/*

PRICING 

*/

/*

TESTIMONIALS 

*/