@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roboto", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.025em;
    color: rgb(36, 62, 99);
}

h2 {
    font-size: 24px;
    color: #243e63;
}

h4 {
    font-size: 16px;
    letter-spacing: 1.6px;
    font-weight: 700;
    color: #6415ff;
}

h5 {
    color: #4a5568;
    line-height: 1.625;
    font-weight: 700;
    font-size: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #7c8ba1;
}

.purple {
    color: #6415ff;
}

#landing, 
#features,
#quality,
#steps, 
#values,
#price, 
#testimonials,
#start {
    padding: 0 32px;
}


.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo__title {
    color: #243e63;
    font-size: 24px;
    font-weight: bold; 
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    height: 50px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    color: #243e63;
    padding-top: 4px;
    margin: 0 24px;
}

.btn {
    width: auto;
    background-color: #6415ff;
    padding: 10px 32px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin: 2px;
    transition: all 300ms ease;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(80, 17, 204);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
    text-wrap: nowrap;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60%);
}

.header {
    font-size: 48px;
    color: #1a202c;
}

.header__description--para {
    color: #243e63;
    margin: 32px 0;
}

.input__container {
    position: relative;  
}

.header__email--input {
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-radius: 50px;
    border: 2px solid rgb(229, 231, 235);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
    z-index: 1;
}

.header__email {
    height: 68px;
    display: flex;
    align-items: center;
}

.header__email--input:hover {
    border-color: rgba(160, 174, 192);
}

.header__email--btn {
    width: 160px;
    height: 50px;
    position: absolute;
    top: 1px;
    right: 0;
    font-size: 16px;
    margin: 8px;
    z-index: 3;
}

.header__customers--title {
    font-size: 12px;
    color: #A0AEC0;
    margin-top: 80px;
}

.header__customers--img {
    width: 100%;
    margin-top: 16px;
    opacity: 0.5; 
}

.header__img--wrapper {
    width: calc(100% - 40%);
}    

.header__img {
    width: 100%;
    max-width: 768px;
}

/*

FEATURES 

*/

.features__row {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features__description--tag {
    letter-spacing: 1.6px;
    font-weight: 700;
}
    
.features__description--title {
    margin: 16px 0;
}

.features__description--para {
    font-weight: 500;
    color:#7c8ba1;
    max-width: 576px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature__row {
    display: flex;
    align-items: start;
    padding: 32px 24px;
    width: calc(100%/3);
    margin: 0 auto;
}


.feature__img--wrapper {
    border: 1px solid #e5e7eb;
    border-radius: 50px;
    padding: 20px
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__title {
    font-weight: bold;
    font-size: 1.5em;
}

.feature__info {
    display: flex;
    flex-direction: column;

}

.feature__info {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    line-height: 1.6;
    margin-top: 16px;
    color: #7c8ba1;
    font-size: 16px;
}

/*

QUALITY 

*/

.quality__row {
    display: flex;
    justify-content: space-between;
}

.quality__description {
    width: 50%;
    margin-right: 64px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.quality__description--title {
    margin: 16px 0;
    line-height: 1.25;
    width: 90%;
}

.quality__description--para {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.625;
}

.quality__description--btn {
    margin-top: 32px;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: bold;
    width: 145px;
    height: 45px;
}

.quality__description--img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quality__img--wrapper {
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    margin: 0 56px;
    max-width: 550px;  
}


img {
    width: 100%;
}

/*

STEPS 

*/

.steps__description--img {
    width: 50%;
}

.steps__description {
    padding: 32px 0 32px 64px;
    width: 50%;
}

.steps__description--title {
    margin: 16px 0;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.steps {
    display: flex;
    margin-top: 32px;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__description--title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__description--para {
    margin-top: 12px;
    font-size: 14px;
    color: #718096;
    font-weight: 500;
    line-height: 2;
}

/*

VALUES 

*/

.values {
    width: 50%;
    padding: 32px 64px 32px 0;
}

.values__description--title {
    margin: 16px 0 32px 0;
    line-height: 1.25;
}

.values__description--para {
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.value__description {
    margin: 32px 32px 0 0;
}

.value__title {
    display: flex;
}

.value {
    display: flex;
    justify-content: space-between;
    
}

.value__title--img {
    width: 30px;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    opacity: 0.7;
}

.value__title {
    align-items: center;
}

.value__name {
    margin-left: 12px;
}

.value__para {
    width: 255px;
    margin-top: 16px;
    color: #718096;
    line-height: 1.625;
    font-size: 16px;

}

.value__title--btn {
    margin-top: 48px;
    font-size: 14px;
    font-weight: bold;
    height: 45px;
}

.values__description--img {
    width: 50%;
}

.values__img--wrapper {
    width: 100%;
}

/*

PRICING 

*/

.price__row {
    display: flex;
    flex-direction: column;
}
.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.price__description--title {
    margin: 16px 0;
}

.price__description--para {
    font-weight: 500;
    line-height: 1.625;
    width: 548px;
}

.plans {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.plan__card {
    position: relative;
    width: 100%;
    max-width: 384px;
    border: 1px solid #e5e7eb;
    background-color: #fff;
    border-radius: 8px;
    margin: 64px 32px 0 0;
    padding: 8px 32px 0;
    text-align: center;
    box-shadow: #0000002c 0 20px 25px -5px, #243e6307 0 10px 10px -5px;
}

.plan__stripe {
    position: absolute;
    color: #f7fafc;
    background: linear-gradient(115deg, #38b2ac, #81e6d9);
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    left: 0;
    top: 0;
    right: 0;
}

.plan__top {
    padding: 20px 0;
    line-height: 1.625;
}

.plan__title {
    color: #1a202c;
    font-weight: bold;
    font-size: 20px;
}

.plan__price {
    color: #1a202c;
    font-weight: bold;
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.plan__middle {
    margin: 0 -32px;
    padding: 32px;
    border-top: 2px solid #e5e7eb;
    border-bottom: 2px solid #e5e7eb;
}


.plan__target {
    color: #1a202c;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    line-height: 1.5;
    font-size: 16px;
}

.plan__bottom {
    padding: 32px;
}

.price__btn {
    font-size: 14px;
    font-weight: 700;
    width: 80%;
    color: #f7fafc;
    padding: 16px 32px;
    background: linear-gradient(115deg, #38b2ac, #81e6d9);
    letter-spacing: .8px;
    transition: all 300ms ease;
}

.price__btn:hover {
    transform: translate(1px, -1px);
    box-shadow: #00000019 0 20px 25px -5px, #243e6300 0 10px 10px -5px;
}

.plan__card:nth-child(2) .plan__stripe {
    background: linear-gradient( #4c51bf, #667eea0e);
}

.plan__card:nth-child(2) .price__btn {
    color: #6415ff;
    background: #f7fafc;
}

.plan__card:nth-child(2) {
    background: linear-gradient(135deg, #4c51bf, #667eea);
}

.plan__card:nth-child(2) .plan__title, 
.plan__card:nth-child(2) .plan__price, 
.plan__card:nth-child(2) .plan__duration,
.plan__card:nth-child(2) .plan__target,
.plan__card:nth-child(2) .plan__feature {
    color: #faf7fc;
}

.plan__card:nth-child(2) .plan__middle {
    border-top: 2px solid #667eea;
    border-bottom: 2px solid #667eea;
}

.plan__card:nth-child(3) .plan__stripe {
    background: linear-gradient(115deg, #f56565, #f3b2b2);
}

.plan__card:nth-child(3) .price__btn {
    color: #f7fafc;
    background: linear-gradient(115deg, #f56565, #f3b2b2);
}

/*

TESTIMONIALS 

*/

.test__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.test__img {
    width: 100%;
}

.testimonials__sec {
    width: 50%;
    padding-left: 64px;
}

.test__description--title {
    margin: 16px 0 32px;
}

.testimonial {
    margin-top: 40px;
}

.test__stars {
    margin: 4px 2px 0 0;
    color: #f6ad55;
}

.test__title {
    margin-top: 16px;
}

.test__para {
    margin: 16px 0 32px;
    font-size: 16px;
    color: #4a5568;
    font-weight: 500;
    line-height: 1.625;
}

.test__bottom {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.test__profile {
    display: flex;
    align-items: center;
}

.test__pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.test__profile--desc {
    margin-left: 24px;
}

.test__role {
    font-weight: 500;
    font-size: 16px;
}

i {
    font-size: 14px;
}

.test__btn {
    padding: 16px;
    margin: 0 12px;
    border: none;
    background: #edf2f7;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease;
}

.test__btn:hover {
    background: #e5e7eb;
}

/*

START 

*/

.start__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 96px 0;
    background: #6415ff;
    border-radius: 8px;
}

.start__row {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start__description {
    width: 50%;
}

.start__description--title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.25;
}

.start__buttons {
    display: flex;
    justify-content: center;
    width: 50%;
}

.start__btn {
    font-size: 16px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 50px;
    margin: 0 12px;
    transition: all 300ms ease;
    color: #f7fafc;
}

.start__btn:nth-child(1) {
    background: #f56565;
}

.start__btn:nth-child(1):hover {
    background: #e53e3e;
}

.start__btn:nth-child(2) {
    background: #6415ff;
    color: #faf7fc;
    border: 1px solid #faf7fc;
}

.start__btn:nth-child(2):hover {
    background: #e2e8f0;
    color: #6415ff;
}



