@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roboto", sans-serif;
}

.purple {
    color: #6415ff;
}

#landing {
    padding: 0 32px;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo__title {
    color: #243e63;
    font-size: 24px;
    font-weight: bold; 
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    color: #243e63;
    padding-top: 4px;
    margin: 0 24px;
}

.btn {
    background-color: #6415ff;
    padding: 10px 32px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    margin: 2px;
    transition: all 300ms ease;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(80, 17, 204);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none ;
}

.header__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}


.header__container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    padding: 96px 0;
}

.header {
    font-size: 36px;
    color: #1a202c;
}

.header__description--para {
    color: #243e63;
    margin: 32px 0;
}

.header__email--input {
    padding: 20px 192px 20px 32px;
    position: relative;
    border-radius: 50px;
    border: 2px solid rgb(229, 231, 235);
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
}

.header__email--btn {
    position: absolute;
    translate: 200ox;
    font-size: 16px;
    margin: 8px;
}

.header__img--wrapper {
    width: 100%;
    height: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: end;

}

.header__img {
    width: 90%;
    height: 75%;
    max-width: 700px;
}

.header__customers {
    width: 100%;
}

.header__customers--title {
    font-size: 12px;
    color: #A0AEC0;
    margin-top: 80px;
}