@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roboto", sans-serif;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.purple {
    color: #6415ff;
}

#landing {
    padding: 0 32px;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo__title {
    color: #243e63;
    font-size: 24px;
    font-weight: bold; 
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    height: 50px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    color: #243e63;
    padding-top: 4px;
    margin: 0 24px;
}

.btn {
    width: 130px;
    height: 50px;
    background-color: #6415ff;
    padding: 10px 32px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin: 2px;
    transition: all 300ms ease;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(80, 17, 204);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
    text-wrap: nowrap;
}

.header__container {
    width: 100%;
    padding: 96px 0;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60%);
}

.header {
    font-size: 48px;
    color: #1a202c;
}

.header__description--para {
    color: #243e63;
    margin: 32px 0;
}

.input__container {
    position: relative;  
}

.header__email--input {
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-radius: 50px;
    border: 2px solid rgb(229, 231, 235);
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
    z-index: 1;
}

.header__email {
    height: 68px;
    display: flex;
    align-items: center;
}

.header__email--input:hover {
    border-color: rgba(160, 174, 192);
}

.header__email--btn {
    width: 160px;
    position: absolute;
    top: 1px;
    right: 0;
    font-size: 16px;
    margin: 8px;
    z-index: 3;
}

.header__customers--title {
    font-size: 12px;
    color: #A0AEC0;
    margin-top: 80px;
}

.header__customers--img {
    width: 100%;
    margin-top: 16px;
    opacity: 0.5; 
}

.header__img--wrapper {
    width: calc(100% - 40%);

}    

.header__img {
    width: 100%;
    max-width: 768px;
}