@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
    padding: 32px;
    

}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo__title {
    color: #243e63;
    font-size: 24px;
    font-weight: bold; 
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    color: #243e63;
    padding-top: 4px;
    margin: 0 24px;
}

.btn {
    background-color: #6415ff;
    padding: 10px 32px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    margin: 2px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none ;
}